In [2]:
from exbook import book as eb

In [3]:
len(eb)

36

In [4]:
eb[0]

Define a function with two strings to be the input arguments. The output is
the summation of the numerical values of the input strings. For example, if
the input strings are "3.5"and "2.7", then the output is 6.2, as a floating
point number.

        Input1: str Input2: str Output: float
Test 1:         3.5         2.7           6.2

Data Type Conversion: Easy

In [5]:
def eb0(string1, string2):
    
    return float (string1)+ float(string2)

eb0('3.5', '2.7')

6.2

In [6]:
eb[0].check(eb0)

You passed 3 of the 3 tests.
The solution is correct

In [7]:
eb[0].check(eb0, cheat=True)

        Input 1: str Input 2: str Your output Correct output: float Correct
Test 1:          3.5          2.7         6.2                   6.2    True
Test 2:          1.2            5         6.2                   6.2    True
Test 3:            2            4         6.0                     6    True

You passed 3 of the 3 tests.
The solution is correct

In [8]:

eb[1]

Write a function to determine whether an integer is a palindrome. An integer
is a palindrome when it reads the same backward as forward. For example,
121 is a palindrome so the output is True, 10 is not a palindrome so the
output is False.

        Input1: int Output: bool
Test 1:         151         True
Test 2:          -5        False

Palindrome: Easy